.explorer {
  text-align: left;
}

.path {
  display: flex;
  flex-wrap: wrap;
}

.path button {
  padding: 0.5rem;
}

.status {
  margin: 0.5rem 0 0.75rem 1rem;
  font-size: 0.95rem;
}
.status.error {
  color: #ff6b6b;
}
.status.empty {
  opacity: 0.7;
}

ul {
  padding-left: 1rem;

  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;

  width: fit-content;
  max-width: calc(100% - 1rem);
}

li {
  width: 100%;
}

li button {
  position: relative;

  width: 100%;

  padding: 0.5rem;
  padding-left: 2rem;

  text-align: left;
  white-space: normal;
  overflow: hidden;
}

li button .icon {
  font-size: 0.8em;
  padding-right: 0.8em;

  position: absolute;
  left: 0.5rem;
}

li button span {
  word-wrap: break-word;
  overflow-wrap: break-word;
}
